body{
  background: aliceblue;
  color: midnightblue;
  font-family: arial;
}

.header{

  height: 200px;
  width: 100%;
  background-image: url("aurora.jpg");
  text-align: center;
  font-size: 38px;
  color: white;
  padding: 5px;

}

#cityInputCon{

  height: 125px;
  width: 100%;
  border: 1px solid gold;
  clear: both;
  margin: 0 auto;
  text-align: center;


}

#cityName{
  margin-top: 50px;
  margin-bottom: 25px;
  width: 400px;
  height: 65px;
  font-size: 45px;
}

}
#mainwrapper{

  clear: both;
  height:1500px;
  font-weight: bold;
}

#names{
  float: left;
  font: arial-black;
  width: 600px;
  height:400px;
  border: 5px solid midnightblue;
  overflow: auto;
}

h2{
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  text-decoration: underline;
}

#map {
     width: 45%;
     height: 400px;
     float: right;
}
